nav.navbar.navbar-dark.bg-inverse
  != linkTo('/', 'Fujisan', {'class': 'navbar-brand'})
  ul.nav.navbar-nav
    li.nav-item.active
      != linkTo('documentation', 'Documentation', {'class': 'nav-link'})
